---
---

@import "{{ site.theme }}";

$background: "/assets/images/bg.gif";
$divider: "/assets/images/divider.gif";
$paper-mid: "/assets/images/bg-paper-mid.jpg";

$gray: #333;
$light-gray: #eee;
$box-border: #bbd;


body {
  background-attachment: fixed;
  background-image: url($background);
  background-position: center;
  background-repeat: repeat;
  font-family: Roboto, Helvetica, sans-serif !important;
}

code,
tt {
  font-family: "Roboto Mono", monospace !important;
  background-color: inherit;
  border: none;
}

pre {
  background-color: $light-gray;
  border: 2px inset $box-border;
}

h5 {
  &:before {
    content: "➥ ";
  }
  font-size: 90%;
  font-weight: bold;
}

h6 {
  &:before {
    content: "➢ ";
  }
  font-weight: bolder;
  font-size: 80%;
  margin-left: 1em;
}

h3,
h4 {
  margin-top: 1em;
}

h5,
h6 {
  margin-top: 2em;
}

hr {
  display: block;
  border: none;
  height: 10px;
  background-image: url($divider);
  background-position: center;
  background-repeat: no-repeat;
}

.site-header,
.site-footer,
.home,
.post-header,
.post-content,
div#disqus_thread {
  background-image: url($paper-mid);
  background-position: center;
  background-repeat: repeat;
}

.home,
.post-header,
.post-content,
div#disqus_thread {
  padding: 1ex 1em 1ex 1em;

  ul > li {
    list-style-type: none;
  }
  ul > li::before {
    content: "❀";
    color: $gray;
    padding-right: 1ex;
  }
}

.float-right {
  display: float;
  float: right !important;

  img {
    margin-left: 1em;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.post-content {
  p {
    text-align: justify;
  }
}

.post-tags {
  text-align: right;
  color: white;

  code {
    background-image: url($paper-mid);
  }
}

.pagination {
  text-align: center;
  font-size: small;

  a, span {
    padding: 7px 18px;
    border: 1px solid $light-gray;
    margin-left: -2px;
    margin-right: -2px;
    background-color: inherit;
    display: inline-block;
  }

  a:hover {
    background-color: $light-gray;
    color: $gray;
  }
}

.dropdown {
  display: float;
  float: right;
}

.dropbtn {
  border: none;
  cursor: pointer;
  background: inherit;
  font-size: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-image: url($paper-mid);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  a {
    text-decoration: none;
    display: block;
    padding: 2px 2px 2px 2px;
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
  }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
