---
---

@import "{{ site.theme }}";

body {
  background-attachment: fixed;
  background-image: url("/assets/images/bg.gif");
  background-position: center;
  background-repeat: repeat;
}

.site-header,
.site-footer,
.home,
.post-header,
.post-content,
div#disqus_thread {
  background-image: url("/assets/images/bg-paper-mid.jpg");
  background-position: center;
  background-repeat: repeat;
}

.home,
.post-header,
.post-content,
div#disqus_thread {
  padding: 1ex 1em 1ex 1em;

  ul > li {
    list-style-type: none;
  }
  ul > li::before {
    content: "❀";
    color: gray;
    padding-right: 1ex;
  }
}

.float-right {
  display: float;
  float: right !important;

  img {
    margin-left: 1em;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.post-content {
  p {
    text-align: justify;
  }
}

.post-tags {
  text-align: right;
  color: white;
}

.pagination {
  text-align: center;
  font-size: small;

  a, span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: inherit;
    display: inline-block;
  }

  a:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.dropdown {
  display: float;
  float: right;
}

.dropbtn {
  border: none;
  cursor: pointer;
  background: inherit;
  font-size: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-image: url("/assets/images/bg-paper-mid.jpg");
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  a {
    text-decoration: none;
    display: block;
    padding: 2px 2px 2px 2px;
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
  }
}

hr {
  display: block;
  border: none;
  height: 10px;
  background-image: url("/assets/images/divider.gif");
  background-position: center;
  background-repeat: no-repeat;
}
