---
---

@import "{{ site.theme }}";

.text-right {
  float: right !important;

  img {
    margin-left: 1em;
  }
}

.post-content {
  p {
    text-align: justify;
  }
}

hr {
  display: block;
  border: none;
  height: 10px;
  background-image: url('/assets/images/divider.gif');
  background-position: center;
  background-repeat: no-repeat;
}
